/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: rgb(247, 240, 238);
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 500px;
	margin: 0 20px;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
img, video, audio {
	max-width: 100%;
	margin:auto;
}

.image-wrapper {
	padding: 5px 5px 0px;
	background: rgb(154, 173, 167);
}
 hr {
	 position: relative;
	 top: 50px;
 }
